<div class="login">
    <form action="/login" method="POST" class="form">
        <div class="center-text">
            <h1>login</h1>
        </div>
        <div class="control">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="control">
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="control center-text">
            <button class="button small info">submit</button>
        </div>
    </form>
</div>