$purpleHeart: #5118d6;
$mistyWhite: #ffffff;

$main: $purpleHeart;
$accent: $mistyWhite;


$themeColors: (
    primary: #5118d6,
    accent: #f56725,
    alert: #ff6347,
    info: #289296,
    warning: #eea916,
    success: #24a86b
);
