<div class="container center-text">
    <h1>Api Docs</h1>
</div>
<div class="block">
    <h2>Route: <b>/api/values</b></h2>
    <h2>Method: <b>GET</b></h2>
    <h2>Returns: <b>All Records</b></h2>
    <h2>Format: <b>JSON</b></h2>
    <p>
        No special info for this route
    </p>
</div>

<div class="block">
    <h2>Route: <b>/api/values/{id}</b></h2>
    <h2>Method: <b>GET</b></h2>
    <h2>Returns: <b>Record with the Specified Id</b></h2>
    <h2>Format: <b>JSON</b></h2>
    <p>
        No special info for this route
    </p>
</div>

<div class="block">
    <h2>Route: <b>/api/values</b></h2>
    <h2>Method: <b>POST</b></h2>
    <h2>Returns: <b>Created Record</b></h2>
    <h2>Format: <b>JSON</b></h2>
    <p>
        Add a new record to the DB
    </p>
</div>

<div class="block">
    <h2>Route: <b>/api/values/{id}</b></h2>
    <h2>Method: <b>PUT</b></h2>
    <h2>Returns: <b>Updated Record</b></h2>
    <h2>Format: <b>JSON</b></h2>
    <p>
        Update a record with the specified id
    </p>
</div>

<div class="block">
    <h2>Route: <b>/api/values/{id}</b></h2>
    <h2>Method: <b>DELETE</b></h2>
    <h2>Returns: <b>Deleted Record</b></h2>
    <h2>Format: <b>JSON</b></h2>
    <p>
        Delete a record with the specified id
    </p>
</div>
