<div class="block">
    <h1>
        {{title}}
    </h1>
    <p>
        This is the route you'll use for contact information
    </p>
</div>

<div class="login">
    <div class="form">
        <div class="control">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="control">
            <input type="number" name="age" placeholder="Age">
        </div>
        <div class="control">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="control">
            <textarea name="message" placeholder="Message"></textarea>
        </div>
        <div class="control center-text">
            <button type="submit" class="button info small">Send</button>
        </div>
    </div>
</div>